# Querying relational databases with pandas

In [13]:
from sqlalchemy import create_engine
import pandas as pd

In [2]:
engine = create_engine('sqlite:///datasets/database.sqlite')

In [3]:
table_names = engine.table_names()
print(table_names)

['artists', 'content', 'genres', 'labels', 'reviews', 'years']

In [16]:
con = engine.connect()
rs = con.execute("SELECT * FROM artists")
df = pd.DataFrame(rs.fetchall())
con.close()
df.columns = rs.keys()
print(df.head())

   reviewid          artist
0     22703  massive attack
1     22721        krallice
2     22659    uranium club
3     22661         kleenex
4     22661         liliput

In [19]:
# Open engine in context manager
# Perform query and save results to DataFrame: df
with engine.connect() as con:
    rs = con.execute("SELECT * FROM artists")
    df = pd.DataFrame(rs.fetchmany(size=3))
    df.columns = rs.keys()

# Print the length of the DataFrame df
print(len(df))

# Print the head of the DataFrame df
print(df.head())

3
   reviewid          artist
0     22703  massive attack
1     22721        krallice
2     22659    uranium club

Querying relational databases directly with pandas

In [22]:
df = pd.read_sql_query("SELECT * FROM artists" , engine)
print(df.head())

   reviewid          artist
0     22703  massive attack
1     22721        krallice
2     22659    uranium club
3     22661         kleenex
4     22661         liliput